* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1140px;
    margin: 0% auto;
}

.header {
    padding-top: 20px;
    background-color: #F9F6F1;
}

.header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-item {
    display: flex;
    align-items: center;
}

.header-link {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 30px;
    padding-right: 10px;
}

.header-title {
    text-transform: uppercase;
    font-weight: 700;
}

.section {
    padding-top: 100px;
    background-color: #F9F6F1;
    height: 450px;
}

.section-list-form {
    padding-top: 30px;
}

.section-title {
    font-size: 30px;
    font-weight: 300;
}

.section-text {
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.section-link {
    background-color: #D7B399;
    color: white;
    padding: 10px;
}

.bots {
    width: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
}

.new-money {
    font-size: 30px;
    color: red;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 70%;
}

.old-money {
    font-size: 20px;
    color: black;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 72%;
    text-decoration: line-through;
}

.slider {
    padding-top: 160px;
    text-align: center;
}

.slider-link {
    background-color: #CECECE;
    width: 30px;
    height: 7px;
    display: inline-block;
}

.slider-list {
    display: flex;
    justify-content: center;
}

.slider-item {
    padding: 10px;
}

.slider-actve-link {
    background-color: #D7B399;
}

.delivery {
    text-align: center;
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
}

.delivery-title {
    font-weight: 600;
    font-size: 37px;
}

.delivery-thin {
    font-weight: 300;
}

.delivery-text {
    font-weight: 400;
    padding-top: 20px;
    font-size: 27px;
}

.male-title {
    font-size: 24px;
}

.male-text {
    font-size: 16px;
    padding-top: 20px;
}

.btn {
    background-color: #D7B399;
    width: 100px;
    border: 0px;
    height: 35px;
    margin-top: 50px;
}

.gender-list {
    padding-top: 70px;
    width: 90%;
}

.male-img {
    position: relative;
    left: 60%;
    top: -130px;
    height: 200px;
}

.product {
    height: 300px;
    background-color: #F9F6F1;
}

.male-list {
    float: left;
    width: 50%;
}

.products-img {
    position: relative;
    /* left: 5%; */
    /* top: -130px; */
    top: -100px;
    left: 10px;
}

.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    top: -30px;
}

.products-titles {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.female-titles {
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.female-texts {
    font-weight: 500;
    font-size: 24px;
    width: 200px;
    text-align: center;
    color: #D7B399;
}

.female-list {
    width: 18%;
    padding: 20px;
}

.contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.contents-link {
    display: inline-block;
    background-color: #D7B399;
    padding: 10px;
    color: white;
}